<div class="flex w-full h-full overflow-hidden items-center justify-center flex-row gap-x-10">
  <img src="https://i.ibb.co/F7kTGBs/1200px-Qubes-OS-Logo-svg-1.png" alt="afbeelding " />
  <img src="https://i.ibb.co/N10MVxf/images-1.png" alt="afbeelding " />
  <img src="https://i.ibb.co/RHvqhDw/GAw-Aix6-X0-AALv-E8-1.png" alt="afbeelding " />
  <img src="https://i.ibb.co/cC44FBT/monero-symbol-1280-1.png" alt="afbeelding " />
  <img src="https://i.ibb.co/8Y89yQm/Tor-logo-2011-flat-svg-1.png" alt="afbeelding " />
</div>