<div class="w-full h-full flex justify-between">
    <div class=" basis-1/2"> 
        <a href="https://ibb.co/3Y1Yc00"><img src="https://i.ibb.co/YT2Thtt/back-to-school-happy-pupils-children-learning-computer-reading-books-concept-png.png" alt="back-to-school-happy-pupils-children-learning-computer-reading-books-concept-png"  /></a>
    </div>
    <div class=" basis-1/2 font-fredoka flex flex-col gap-20">
         <h1 class="text-3xl font-medium text-center mt-16">Don't you hate it when ur internet traffic gets intercepted by some shady 3 letter agency? No more! Avoid the glowies with this new course.</h1>
         <button (click)="navigateToOverview()" class="bg-indigo-600 text-white text-xl font-bold py-3 rounded-full hover:bg-green-600">
            Get started
          </button>
          
    </div>

</div>


